html {
  background-color: black;
  font-family: monospace;
  font-size: 25px;
}

.topbar {
  position: absolute;
  top: 0%;
  height: 32px;
  margin: 0%;
  padding: 0%;
}

.topbar button {
  top: 0%;
  width: 64px;
  height: 32px;
}

#bar {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 32px;
  width: 100%;
  color: blue;
  background-color: blue;
}
