html {
  background-color: black;
  font-family: monospace;
  font-size: 25px;
}

.topbar {
  position: absolute;
  top: 0%;
  height: 32px;
}

#bar {
  position: absolute;
  top: 0%;
  height: 32px;
  width: 100%;
  background-color: blue;
}
